<footer class="bg-gray-200">
    <div class="py-4 bg-gray-800 text-stone-300 text-center">
        <div class="text-gray-600">
            {{ "now"|date("Y-m-d") }}
        </div>
    </div>
</footer>
