<html>
    {% include "squelette/header.twig" %}
    <body>
        <br>
        <div class="content">
            {% block content %} {% endblock %}
        </div>
        <br>
        <br>
    </body>
    {% include "squelette/footer.twig" %}
</html>