<html>
    {% include "squelette/header.twig" %}
    <body style="align-content: center">
        <br>
        <br>
        <br>
        <div class="flex justify-center">
            {% block content %} {% endblock %}
        </div>
        <br>
        <br>
    </body>
    {% include "squelette/footer.twig" %}
</html>