{% extends "squelette/main.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="rectangle">
                <h2>Choisir un coffret existant</h2>
                <a href="{{ url_for('newBoxes') }}" class="btn btn-primary">Sélectionner</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="rectangle">
                <h2>Créer un coffret vide</h2>
                <a href="{{ url_for('newBoxesForm') }}" class="btn btn-primary">Créer</a>
            </div>
        </div>
    </div>
{% endblock %}
