{% extends "squelette/main.twig" %}

{% block content %}

<h1>Liste des catégories</h1>
<ul>
        {% for categorie in categories %}
                <li><a href="{{ url_for('categoriesId', {'id': categorie.id}) }}">{{ categorie.libelle }}</a></li>
        {% endfor %}
</ul>
{% endblock %}