{% extends "squelette/main.twig" %}

{% block content %}

<h1>Liste des catégories</h1>
<ul>
        {% for categorie in categories %}
                <a href="{{ url_for('categoriesId', {'id': categorie.id}) }}">
                        <fieldset class="categorie">
                                {{ categorie.libelle }}
                                <p>{{ categorie.description }}</p>
                        </fieldset>
                </a>
                <br>
        {% endfor %}
</ul>
{% endblock %}