<form method="POST" action="/boxes/new">
    <label for="name">Nom de la box :</label>
    <input type="text" name="name" id="name">
    <br><br>
    <label for="description">Description :</label>
    <textarea name="description" id="description"></textarea>
    <br><br>
    <button type="submit">Créer</button>
</form>
