{% extends "squelette/main.twig" %}

{% block content %}
<div class="bg-violet-300 p-4 m-6 mx-8 rounded-lg">
    <form method="POST" action="/boxes/new" >
        <label for="name">Nom de la box :</label>
        <input type="text" name="name" id="name" class="rounded-lg shadow-inner">
        <br><br>
        <label for="description">Description :</label>
        <textarea name="description" id="description" class="rounded-lg shadow-inner"></textarea>
        <br><br>
        <button type="submit" class="block shadow rounded-2xl p-1 px-3 font-medium block mx-2 mt-5 bg-gradient-to-r from-indigo-500 to-purple-500 text-white hover:from-purple-300 hover:to-indigo-500">Créer</button>
    </form>
</div>
{% endblock %}


